# 屏蔽常用 App 中的直播功能

# 京东直播
DOMAIN,discover.300hu.com
DOMAIN,jdpull.jd.com
DOMAIN,jdpull-las.jd.com
DOMAIN-WILDCARD,*-las.jdcloud.com
DOMAIN,live-lottie.s3.cn-north-1.jdcloud-oss.com

# 淘宝直播
AND,((DEST-PORT,1106), (PROTOCOL,UDP))
URL-REGEX,\/(media|live)platform\/
DOMAIN,impaas.alicdn.com

# 美团直播
DOMAIN,onelive-screen-cdn.meituan.net
DOMAIN-WILDCARD,*-live.meituan.net
URL-REGEX,\/mtlr\/.*\.flv
